@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

li.active {
    background: rgb(214, 185, 171);
    border: 1px solid rgb(122, 104, 104);
    color: white;
}

li a {
    display: block;
    padding: 8px 16px;
}

a:hover {
    color: blue
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 24px; 
}

ul {
    list-style-type: none;
}

.nav {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a:focus {
    border-bottom: 5px solid rgb(168, 83, 83);
    outline: none;
}